{% if modules %}
{% for module in modules %}
load_module modules/{{module}}_module.so;
{% endfor %}
{% endif %}

worker_processes  auto;

error_log  /dev/stderr debug;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    {% if nginx.log_format %}
    log_format custom {{ nginx.log_format }}
    {% else %}
    log_format custom
        '[$status] '
        '$remote_addr\t'
        '--$request_method-->\t'
        '$scheme://$host$request_uri\t'
        '($request_time/'
        '$upstream_response_time/'
        '$upstream_status/'
        '$body_bytes_sent)\t'
        '"$http_referer" '
        '"$http_user_agent"';
    {% endif %}

    access_log /dev/stdout custom;
    error_log  /dev/stdout;
    
    sendfile        on;
    # tcp_nopush     on;

    keepalive_timeout  65;
    gzip  on;

    # Hardening values (https://www.acunetix.com/blog/web-security-zone/hardening-nginx/)
    # This is now in the server section per vhost
    ###
    
    # Increase proxy headers hash
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 128;

    include /etc/nginx/conf.d/*.conf;
}